@import url('https://fonts.googleapis.com/css?family=Turret+Road&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');

body {
  background-color: #efeff2;

}

h1 {
  text-align: center;
  font-family: 'Turret Road', cursive;
  font-size: 3em;
  color: #000;
}

p{
  font-family: 'Turret Road', cursive;
  font-size: 1em;
}

#header {
  background-position: top, bottom;
  background-image: url(image.jpg);
  padding-bottom: 20em;
  background-size: 60em;
  padding-top: 10px
  background-repeat: no-repeat;
  text-align: center;
}
