<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Movie Genres Over The Decades</title>
    <meta name="description" content="popular movie genres"/>
    <meta name="viewport" content="width=device-width, intial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='screen.css') }}" />
  </head>

  <body>

    <h1> Breakdown Of Film Genres 1910-2018 </h1>
    <p> Below is a table that shows what percentage of a variety of movie genres were made from 1910-2018. This data is all based on IMDB's defintion of a genre
      and the rating each movie recieved on IMDB. </p>

      <canvas id="rice" width="600" height="400"></canvas>
    

    <script src="{{ url_for('static', filename='js.js') }}"></script>
  </body>
</html>
